<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="../public/styles/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
  </head>
  <body>
    <section id="one">
      <div class="verticalcenter">
        <img src="../public/img/fone-first.png">
        <div class="fone-inner-first">
          <img src="../public/img/fone-first-entry.png">
          <div class="send-your-contacts"><img src="../public/img/send-your-contacts.png"></div>
          <div class="master-contact-you"><img src="../public/img/matser-contact-you.png"></div>
        </div>
        <div class="diplom-works-text"><img src="../public/img/diplom-works.png"></div>
        <div class="help-writing-diploms-text"><img src="../public/img/help-writing-diplom.png"></div>
      </div>
    </section>
    <section id="two"></section>
    <section id="three"></section>
    <section id="four"></section>
    <script src="../public/scripts/mg_scroll.js"></script>
  </body>
</html>