<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Montserrat'>
    <title><%=title%></title>
  </head>

  <body style="background-color: #F6F6F6; font-family: Montserrat;">
    <header>
        <div style="display: flex;">
            <img src="/img/header-web.png">
            <div style="position: absolute; right: 15%; top: 1.7%;">
            <a href="login"><img src="/img/login.png"></a>
            </div>
        </div>
    </header>
    Место для моего аккаунта, чатов и так далее
  </body>
</html>